[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[core]
	excludesfile = ~/.gitignore_global
	# editor = atom --wait
	# editor = code --wait
	# editor = vi
	editor = vim
	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[user]
	email = mrlesmithjr@gmail.com
	name = Larry Smith Jr.
[credential]
	# Fedora
	# helper = /usr/libexec/git-core/git-credential-gnome-keyring
	# MacOS
	helper = osxkeychain
	# Ubuntu
	# helper = cache
	useHttpPath = true
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[includeIf "gitdir:~/Git_Projects/Work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/projects/devops_automation/"]
	path = ~/.gitconfig-work
[status]
	submoduleSummary = true
[pager]
	branch = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
