[alias]
	sweep = !git branch --merged | egrep -v \"(^\\*|develop|master|main)\" | xargs git branch -d
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[core]
    excludesfile = ~/.gitignore_global
[diff]
	colorMoved = zebra
[fetch]
	prune = true
[includeIf "gitdir:~/Git_Projects/Work/"]
    path = ~/.gitconfig-work
[init]
	defaultbranch = main
    templateDir = ~/.git-template
[pull]
	rebase = true
[submodule]
	recurse = true
[user]
	name = Larry Smith Jr.
	email = mrlesmithjr@gmail.com
[push]
	autoSetupRemote = true
