[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[core]
	excludesfile = ~/.gitignore_global
	# editor = atom --wait
	# editor = vi
	editor = vim
	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[user]
	email = mrlesmithjr@gmail.com
	name = Larry Smith Jr.
[credential]
	# Fedora
	# helper = /usr/libexec/git-core/git-credential-gnome-keyring
	# MacOS
	helper = osxkeychain
	# Ubuntu
	# helper = cache
[diff]
	tool = meld
[difftool]
	prompt = false
[merge]
	tool = meld
[mergetool]
	prompt = false
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[difftool "meld"]
	trustExitCode = true
[mergetool "meld"]
	trustExitCode = true
[includeIf "gitdir:~/Git_Projects/Work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/projects/devops_automation/"]
	path = ~/.gitconfig-work
[status]
	submoduleSummary = true
