"*":
  core:
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    fontSize: 18
    showIndentGuide: true
  "exception-reporting":
    userId: "3a901ed7-702f-439b-a3e8-aa196721c2be"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
