"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    js:
      beautify_on_save: true
    json:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
      commonmark: true
      default_beautifier: "Remark"
    python:
      beautify_on_save: true
    ruby:
      beautify_on_save: true
    terraform:
      beautify_on_save: true
    yaml:
      beautify_on_save: false
  "atom-package-deps":
    ignored: []
  "autocomplete-ansible":
    pythonPaths: "/usr/local/opt/python/bin/python2.7;/usr/local/opt/python@2/bin/python2.7"
  "autocomplete-paths":
    maxFileCount: 5000
  core:
    customFileTypes:
      "text.ignore": [
        ".dockerignore"
      ]
    disabledPackages: [
      "language-gfm"
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    fontSize: 18
    showIndentGuide: true
  "exception-reporting":
    userId: "b1ccb0bb-dad1-44a9-8492-06ac52cb312c"
  "ide-python":
    pylsPlugins:
      yapf: {}
    python: "/usr/local/bin/python"
  "linter-pylama": {}
  "linter-pylint": {}
  "linter-python":
    executablePath: "/usr/local/bin/pylama"
  "linter-ui-default":
    panelHeight: 321
    showPanel: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "native-ui":
    ui: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
