"*":
  "atom-beautify":
    bash:
      beautify_on_save: true
    json:
      beautify_on_save: true
    markdown:
      beautify_on_save: true
      commonmark: true
      default_beautifier: "Remark"
    python:
      beautify_on_save: true
    ruby:
      beautify_on_save: true
    yaml:
      beautify_on_save: false
  core:
    disabledPackages: [
      "language-gfm"
      "atom-vagrant-manager"
      "Sublime-Style-Column-Selection"
      "advanced-open-file"
      "bottom-dock"
      "browser-plus"
      "build"
      "build-dockerfile"
      "build-python"
      "busy-signal"
      "busy"
      "docker"
      "dockerletion"
      "emmet"
      "hey-pane"
      "jumpy"
      "minimap"
      "minimap-bookmarks"
      "minimap-find-and-replace"
      "minimap-git-diff"
      "minimap-highlight-selected"
      "minimap-linter"
      "minimap-selection"
      "pane-manager"
      "project-manager"
      "project-plus"
      "project-sidebar"
      "ssh-config"
      "ansible-galaxy"
      "git-blame"
      "git-checkout"
      "git-commit"
      "git-control"
      "git-diff-details"
      "git-hide"
      "git-history"
      "git-line"
      "git-log"
      "git-status"
      "git-time-machine"
      "git-tools"
      "pull-request"
      "tool-bar"
      "context-git"
      "terminal-plus"
    ]
    telemetryConsent: "no"
  editor:
    autoIndentOnPaste: false
    fontSize: 16
  "exception-reporting":
    userId: "b1ccb0bb-dad1-44a9-8492-06ac52cb312c"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
