packages: [
  "advanced-open-file"
  "ansible-galaxy"
  "ansible-snippets"
  "ansible-vault"
  "Atom-Bash-Snippets"
  "atom-beautify"
  "atom-jinja2"
  "atom-reveal-md"
  "atom-terminal"
  "atom-unsaved-changes"
  "atom-vagrant-manager"
  "auto-update-packages"
  "autocomplete-ansible"
  "autocomplete-paths"
  "bottom-dock"
  "browser-plus"
  "build"
  "build-dockerfile"
  "build-python"
  "busy"
  "busy-signal"
  "config-import-export"
  "context-git"
  "conventional-changelog"
  "delete-lines"
  "Delete-Whitelines"
  "docblockr"
  "docker"
  "dockerletion"
  "emmet"
  "file-icons"
  "file-types"
  "git-blame"
  "git-checkout"
  "git-commit"
  "git-control"
  "git-diff-details"
  "git-hide"
  "git-history"
  "git-line"
  "git-log"
  "git-plus"
  "git-status"
  "git-time-machine"
  "git-tools"
  "hey-pane"
  "highlight-selected"
  "intentions"
  "jumpy"
  "language-ansible"
  "language-docker"
  "language-dotfiles"
  "language-generic-config"
  "language-ignore"
  "language-ini"
  "language-markdown"
  "language-sphinx"
  "language-terraform"
  "linter"
  "linter-alex"
  "linter-ansible-linting"
  "linter-ansible-syntax"
  "linter-docker"
  "linter-flint"
  "linter-golint"
  "linter-golinter"
  "linter-js-yaml"
  "linter-jshint"
  "linter-jsonlint"
  "linter-just-say-no"
  "linter-markdown"
  "linter-mixed-indent"
  "linter-packer-validate"
  "linter-proselint"
  "linter-pycodestyle"
  "linter-pydocstyle"
  "linter-pylama"
  "linter-pylint"
  "linter-python"
  "linter-python-pep8"
  "linter-shellcheck"
  "linter-terraform-syntax"
  "linter-ui-default"
  "linter-vagrant-validate"
  "linter-write-good"
  "linter-xmllint"
  "markdown-format"
  "markdown-preview-plus-opener"
  "markdown-scroll-sync"
  "markdown-toc"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "open-recent"
  "package-sync"
  "pane-manager"
  "project-manager"
  "project-plus"
  "project-sidebar"
  "pull-request"
  "python-indent"
  "sort-lines"
  "sorter"
  "split-diff"
  "ssh-config"
  "Sublime-Style-Column-Selection"
  "terminal-plus"
  "todo-manager"
  "todo-show"
  "toggle-markdown-task"
  "tool-bar"
  "tool-bar-markdown-writer"
  "tree-view-git-status"
]
