packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-jinja2"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "auto-update-packages"
  "autocomplete-ansible"
  "busy-signal"
  "Delete-Whitelines"
  "file-icons"
  "highlight-selected"
  "ide-python"
  "intentions"
  "language-ansible"
  "language-docker"
  "language-jenkinsfile"
  "language-markdown"
  "language-powershell"
  "language-terraform"
  "linter"
  "linter-ansible-linting"
  "linter-jenkins"
  "linter-jsonlint"
  "linter-markdown"
  "linter-pycodestyle"
  "linter-pylama"
  "linter-pylint"
  "linter-shellcheck"
  "linter-terraform-syntax"
  "linter-ui-default"
  "markdown-format"
  "markdown-preview-plus-opener"
  "markdown-toc"
  "markdown-writer"
  "merge-conflicts"
  "package-sync"
  "python-indent"
  "sort-lines"
  "split-diff"
  "tree-view-git-status"
  "wordcount"
]
